<!DOCTYPE html>
<html lang="eng">
  <%-include("templates/head.ejs")-%>
  <body>
    <!-- Nav -->
    <%-include("templates/nav.ejs")-%>
    <!-- Products -->
    <section class="products" style="margin-top: 85px">
      <div class="products-title">
        <h2>Items in Cart</h2>
      </div>
      <div class="products-center">
        <!-- Product -->
        <% if (products) {%>
          <%for(var i = 0; i < products.length; i++) {%>
            <article class="product">
              <img src=<%=products[i].item.image%> class="product-image"/>
              <h1><%=products[i].item.title%></h1>
              <p class="price">£<%=products[i].price%></p>
              <p class = "price"><%=products[i].qty%></p>
            </article>
          <%}%>

        <%}%>
      </div>
      <% if (products) {%>
      <div class="user-banner">
          <h1>£<%=total%></h1>
      </div>
      <%}%>
    </section>
  </body>
</html>
