<!DOCTYPE html>
<html lang="eng">
  <!-- Head -->
  <%-include("templates/head.ejs")-%>  
  <body>
    <!-- Nav -->
    <%-include("templates/nav.ejs")-%>
    <!-- Page Content -->
    <div class="w3-main" style="margin-top: 85px">
        <%if (loggedIn) {%>
          <h3>Total to pay: £<%=total%></h3>
          <h1>Confirm details</h1>
        <%} else {%>
          <h1>Checkout as guest</h1>
          <h3>Your Total: £<%=total%></h3>
          <!-- Payment Information Form -->
          <p>Continue making order as a guest or <a href="#" style="color:dodgerblue;" onclick="document.getElementById('id02').style.display='block'">create an account</a>?</p>
          <label for="1name"><b>First Name</b></label>
          <form method="POST" action="/checkout">
            <input class="signup" type="text" placeholder="Enter Firstname" name="firstname" required>
            <label for="2name"><b>Surname</b></label>
            <input class="signup" type="text" placeholder="Enter Surname" name="secondname" required>
            <label for="email"><b>Email</b></label>
            <input class="signup" type="text" placeholder="Enter Email" name="email" required>
            <label for="phoneNo"><b>Phone Number</b></label>
            <input class="signup" type="text" placeholder="Enter Phone Number" name="phoneno" required>
            <label for="address"><b>Address</b></label>
            <input class="signup" type="text" placeholder="Enter Home Address" name="address" required>
            <label for="cardname"><b>Credit Card Holder</b></label>
            <input class="signup" type="text" placeholder="Enter the Card Holder Name" name="cardname" required>
            <label for="cardno"><b>Credit Card Number</b></label>
            <input class="signup" type="text" placeholder="Enter the Credit Card Number" name="cardno" required>
            <label for="expmon"><b>Expiration Month</b></label>
            <input class="signup" type="text" placeholder="Enter the Card Expiration Month" name="expmon" required>
            <label for="expyr"><b>Expiration Year</b></label>
            <input class="signup" type="text" placeholder="Enter the Card Expiration Year" name="expyr" required>
            <label for="cvc"><b>CVC</b></label>
            <input class="signup" type="text" placeholder="Enter the Card CVC" name="cvc" required>
            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue;">Terms & Policy</a>.</p>
            <button class="cancelbtn1" type="button">Cancel Order</button>
            <button class="signupbtn" type="submit">Confirm Order</button>
          </form>
          <%if (paymentSub) {%>
            <h3><%=paymentSub%></h3>
          <%}%>
        <%}%>
    </div>
  </body>
  <%-include("templates/footer.ejs")-%>
</html>