<!DOCTYPE html>
<html lang="eng">
  <!-- Head -->
  <%-include("templates/head.ejs")-%>
  <body>
    <!-- Nav -->
    <%-include("templates/nav.ejs")-%>
    <!-- Page Content -->
    <div class="w3-main" style="margin-top: 85px">
        <%if (loggedIn) {%>
          <h3>Total to pay: £<%=total%></h3>
          <!-- User Current Payment Details -->
          <div class="w3-card-4" style="width:70%">
            <header class="w3-container w3-light-grey">
              <h3>Confirm Payment Details</h3>
            </header>
            <form method="POST" action="/checkout/checkout-logged-in">
              <div class="w3-container">
                <p>Current Details</p>
                <hr>
                <p>Name: <input class="input-box" type="text" value="<%=userPaymentDetails.name%>" name="userName" disabled=></p>
                <p>Phone Number: <input class="input-box" type="text" value="<%=userPaymentDetails.phoneNo%>" name="userPhoneno" disabled></p>
                <p>Address: <input class="input-box" type="text" value="<%=userPaymentDetails.address%>" name="userAddress" disabled></p>
                <p>Credit card holder: <input class="input-box" type="text" value="<%=userPaymentDetails.cardName%>" name="userCardName" disabled></p>
                <p>Card number: <input class="input-box" type="text" value="<%=userPaymentDetails.cardNo%>" name="userCardNo" disabled></p>
                <p>Card expiration: <input class="input-box" type="text" value="<%=userPaymentDetails.expiry%>" name="userExpiration" disabled></p>
                <p>CVC: <input class="input-box" type="text" value="<%=userPaymentDetails.cvc%>" name="userCvc" disabled></p>
                <br>
                <%if (userCheckoutError) {%>
                  <p style="color:red"><%=userCheckoutError%></p>
                <%}%>
              </div>
              <button type="button" class="w3-button w3-block w3-dark-grey" onclick="editCheckout()">Edit</button>
              <a class="cancelbtn1" href="/checkout/cancel">Cancel Order</a>
              <button class="signupbtn w3-green" onclick="editCheckout()" type="submit">Confirm Order</button>
            </div>

          </form>
        <%} else {%>

          <h3>Your Total: £<%=total%></h3>
          <!-- Guest Payment Form -->
          <p>Continue making order as a guest or <a href="#" style="color:dodgerblue;" onclick="document.getElementById('id02').style.display='block'">create an account</a>?</p>
          <div class="w3-card-4" style="width:70%">
            <header class="w3-container w3-light-grey">
              <h3>Checkout as guest</h3>
            </header>
            <div class="w3-container">
              <form method="POST" action="/checkout/checkout-guest">
                <p>First Name: <input class="input-box" type="text" placeholder="Enter Firstname" name="firstname" required></p>
                <p>Surname: <input class="input-box" type="text" placeholder="Enter Surname" name="secondname" required></p>
                <p>Email: <input class="input-box" type="text" placeholder="Enter Email" name="email" required></p>
                <p>Phone Number: <input class="input-box" type="text" placeholder="Enter Phone Number" name="phoneno" required></p>
                <p>Address: <input class="input-box" type="text" placeholder="Enter Home Address" name="address" required></p>
                <p>Credit Card Holder: <input class="input-box" type="text" placeholder="Enter the Card Holder Name" name="cardname" required></p>
                <p>Credit Card Number: <input class="input-box" type="text" placeholder="Enter the Credit Card Number" name="cardno" required></p>
                <p>Expiration Month: <input class="input-box" type="text" placeholder="Enter the Card Expiration Month" name="expmon" required></p>
                <p>Expiration Year: <input class="input-box" type="text" placeholder="Enter the Card Expiration Year" name="expyr" required></p>
                <p>CVC: <input class="input-box" type="text" placeholder="Enter the Card CVC" name="cvc" required></p>
                <p>By making a purchase you agree to our <a href="#" style="color:dodgerblue;">Terms & Policy</a>.</p>  
                <%if (guestCheckoutError) {%>
                  <p style="color:red"><%=guestCheckoutError%></p>
                <%}%>
                <a class="cancelbtn1" href="/checkout/cancel">Cancel Order</a>
                <button class="signupbtn w3-green" type="submit">Confirm Order</button>
              </form>
            </div>
          </div>
        <%}%>
        <%if (paymentSub) {%>
          <div class="w3-modal" style="display: block;">
            <div class="w3-modal-content w3-border w3-round-large" id="id01">
              <div class="w3-container w3-border w3-round-large" style="background-color:#f1f1f1;">
                <h1>Your order was placed successfully!</h1>
                <p>Your order has been placed successfully, an invoice and estimated delivery time will be sent to the email address: <%=email%></p>
                <a href="/" class="w3-button w3-border w3-round-large w3-dark-grey" style="text-decoration: none;">Return to Home Page</a>
              </div>
            </div>
          </div>
        <%}%>
    </div>
  </body>
  <%-include("templates/footer.ejs")-%>
  <script src="/js/scripts.js"></script>
</html>
