<!DOCTYPE html>
<html lang="eng">
  <%-include("templates/head.ejs")-%>
  <body>
    <!--Nav bar-->
    <%-include("templates/nav.ejs")-%>

    <div class="w3-container w3-middle">
      <h2>Card Example</h2>

      <div class="w3-card-4" style="width:70%">
        <header class="w3-container w3-light-grey">
          <%if (name){%>
            <h3><%=name%></h3>
          <%}%>

        </header>
        <div class="w3-container">
          <p>Profile detail</p>
          <hr>
          <p>Username: <input type="text" value="<%=username%>" disabled></p>
          <p>Email: <input type="text" value="<%=email%>" disabled></p>
          <p>Password: <input type="password" value="<%=pass%>" disabled></p>
          <br>
        </div>
        <a class="w3-button w3-block w3-dark-grey">edit</a>
      </div>
    </div>

  </body>
  <%-include("templates/footer.ejs")-%>
</html>
